/* Connect four in space */
#Project1 {
  position: absolute;
  width: 34vw;
  opacity: 100%;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  top: -177.951px !important;
  right: 1066px !important;
  border-radius: 15px;
}

#Project2 {
  position: absolute;
  opacity: 100%;
  width: 50vw;
  top: 460px !important;
  border-radius: 15px;
  left: 365px !important;
}

#Project3 {
  position: absolute;
  opacity: 100%;
  width: 19vw;
  top: 115px !important;
  left: 955px !important;
  border-radius: 15px;
}

#project1Card {
  width: 300px;
  height: 122px;
  position: absolute;
  top: 157px !important;
  left: 1052px !important;
}

#project2Card {
  width: 300px;
  height: 150px;
  position: absolute;
  top: 540px !important;
  left: -96px !important;
}

#project3Card {
  position: absolute;
  width: 300px;
  height: 170px;
  top: 347px !important;
  left: 1663px !important;
}

#title1 {
  position: absolute;
  color: white;
  top: 8px;
  right: -25px;
  left: -4.433px;
  bottom: 75px;
}

#Descrip1 {
  color: white;
  position: absolute;
  right: 30px;
  left: -3px;
  bottom: 7px;
  top: 61px;
}

#Descrip2 {
  color: white;
  position: absolute;
  right: 30px;
  left: -3px;
  bottom: 7px;
  top: 61px;
}

#title2 {
  position: absolute;
  color: white;

  right: -60px;
  top: 11px;
  left: -1.45px;
}

#title3 {
  position: absolute;
  left: 35.983px;
  top: 3px;
  color: white;
}

#Descrip3 {
  color: white;
  position: absolute;
  right: 30px;
  bottom: 7px;
  left: 36px;
  top: 57px;
}

hr {
  height: 5px;
  background-color: #2c3d67;
  width: 330px;
  margin-left: -6px;
  margin-top: 48px;
}

#project-1 {
  position: absolute;
  right: 0px;
  left: 0px;
  top: 508px !important;
  height: 940px;
  width: auto;
}

#project-2 {
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 386px !important;
  top: 903px !important;
  height: 1920px;
  width: auto;
}

#project-3 {
  position: absolute;
  right: 0px;
  left: -603px;
  top: 2191px !important;
}
