#SkillsDiv {
  margin-top: 15vh;
  margin-left: 15vw;
}

#Skills {
  color: #219dcf;
}

#MySkill {
  color: #ffffff;
}

#Head {
  color: #ffffff;
}

#para {
  color: #ffffff;
  text-transform: capitalize;
  margin-top: 1vh;
}
