#SkillsDiv {
  margin-top: 15vh;
  margin-left: 12vw;
}

#Skills {
  color: #219dcf;
  font-family: "Montserrat";
}

#MySkill {
  color: #ffffff;
  font-family: "Montserrat";
}

#Head {
  color: #ffffff;
  font-family: "Montserrat";
}

#para {
  color: #ffffff;
  text-transform: capitalize;
  margin-top: 1vh;
}
* {
  opacity: 1;
}
