#dorCard {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 400px;
  height: 566px;
  left: 25vw;
  top: 15vh;
  flex-flow: column;
}

img {
  opacity: 100%;
  border-radius: 223.5px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
  width: 102px;
  height: 94px;
  left: 1078px;
  top: 1214px;
  margin: auto;
}

#diveder {
  background-color: #f5f5f5;
  border: 1px solid #777677;
  display: block;
  width: 59px;
  height: 0px;
  margin: 1vh;
}

#card-id {
  display: flex;
}

#name {
  align-self: center;
  margin: auto;
}

.fancy {
  padding: 0 10px;
  line-height: 1.4em;
  border-radius: 50px;
  background: radial-gradient(farthest-side, #000 98%, #0000) -1.4em 0/1.4em 1.4em,
    linear-gradient(90deg, #000 calc(100% - 0.7em), #0000 0) left/0% 100%;
  background-repeat: no-repeat;
  transition: 0.3s;
}
.fancy:hover {
  color: #fff;
  background-size: 1.4em 1.4em, 100% 100%;
  background-position: right, left;
}

* {
  opacity: 100%;
}
