/* Desktop - 1 */

html {
  width: 1440px;
  height: 10168px;
  margin: auto;
  background: #181818;
}

/* background

background: url("assets/photo-1526925539332-aa3b66e35444.png");
background-repeat: no-repeat;
background-size: 1024px 1440px; */

/* First Page */
/*  */

/* Line 1 */
/*
position: absolute;
width: 82.01px;
height: 0px;
left: 679px;
top: 555px;

border: 5px solid rgba(255, 255, 255, 0.4);
transform: rotate(0.7deg); */

/* DOR */
/* #dor {
  width: 415px;
  height: 86px;
  left: 47vw;
  top: 257px;
  margin: auto;
  font-family: Archivo Black;
  font-style: normal;
  font-size: 64px;
  line-height: 70px;
  text-align: center;
  color: #219dcf;
  z-index: 2;
} */

/* #rec {
  z-index: -1;
  width: 1440px;
  height: 1024px;
  border: 0;
} */
/* altumcode-oZ61KFUQsus-unsplash 1 */

/* position: absolute;
width: 1440px;
height: 1024px;
left: 14px;
top: 0px; */
/* #fullstack {
  width: 1330px;
  height: 33px;

  top: 351px;
  margin: auto;
  font-family: Archivo Black;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  text-align: center;
  z-index: 2;
  color: #ffffff;
} */

/* I'm project addicted and inspiring video game developer */
/* #project {
  width: 1330px;
  height: 33px;
  left: 237px;
  top: 425px;
  margin: auto;
  font-family: Archivo;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 115px;
  text-align: center;
  z-index: 2;
  color: rgba(255, 255, 255, 0.4);
} */
/*
#heythere {
  width: 1065.59px;
  height: 125px;

  top: 257px;
  margin: auto;
  font-family: Archivo Black;
  font-style: normal;
  font-weight: normal;
  font-size: 4vw;
  line-height: 70px;
  z-index: 2;
  color: #ffffff;
} */

/* #line1 {
  width: 82.01px;
  height: 0px;

  border: 5px solid rgba(255, 255, 255, 0.4);
  transform: rotate(0.7deg);
  margin: auto;
} */

#bg1 {
  z-index: 1;
  padding-top: 30vh;
  width: 100vw;
  height: 100vh;
  opacity: 100%;
  background-repeat: no-repeat;
  background-image: url("");
  background-size: 100vw 100vh;
  text-align: center;
}

#bg2 {
  position: absolute;
  left: 5.5px;
  display: flex;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-size: 800px 600px;
  opacity: 100%;
  background-repeat: no-repeat;
  background-image: url("./assets/Toronto2.png");
  background-position: 33% 80%;
}

#bg3 {
  z-index: 1;
  top: 1878px;
  left: -0.5px;
  width: 100vw;
  height: 100vh;
  opacity: 100%;
  background-size: 50% 100%;
  background-repeat: no-repeat;
  background-image: url("./assets/kiran-ck-6rXpQzfCYlw-unsplash.png");
  position: absolute;

  background-position: 50% 50%;
}

#bg4 {
  z-index: 2;
  width: 100%;
  height: 4080px;
  background-size: 52% 50%;
  opacity: 100%;
  background-repeat: no-repeat;
  background-image: url("./assets/Plane.png");
  position: absolute;
  top: 1780px;
  left: -19px;
  background-position: 52% 50%;
}
#bg5 {
  z-index: 2;
  width: 100%;
  height: 4080px;
  background-size: 52% 50%;
  opacity: 100%;
  background-repeat: no-repeat;
  background-color: white;
  position: absolute;
  top: 4467px !important;
  left: -19px;
  background-position: 52% 50%;
}

img {
  opacity: 1%;
}
